#selectBtn {
	width: 100%;
	display: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
 	
#wrapper{
	text-align: center;
}
	
#logoWrapper{
	text-align: center;
}
	
#logo{
	margin-top: 200px;
}
	
#message {
	position: relative;
	bottom: 50px;
	font-size: 5em;
}

.btn {
	display: inline-block;
	width: 500px;
	height: 400px;
	text-align: center;
	margin: 300px 100px;
}

